.splash_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5; /* Taken from the '#root' background-color of your theme */
}

.logo_container {
  margin-bottom: 2rem;
}

.loading_text {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #284b60; /* Using the Adjusted Indigo dye from your pentenary color theme */
  letter-spacing: 1.5px;
}



.splash_wrapper {
  background: linear-gradient(45deg, 
    #305270,  /* Adjusted Midnight green */
    #284b60,  /* Adjusted Indigo dye */
    #20444f,  /* Adjusted Berkeley blue */
    #173d3e,  /* Adjusted Oxford blue */
    #0e362e,  /* Adjusted Penn blue */
    #052f1d   /* Very dark greenish-blue */
  );
  background-size: 600% 600%;
  animation: Gradient 16s ease infinite;
}


@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
