:root {
  --brand-50: #f2f8ff;
  --brand-100: #c7e2fe;
  --brand-200: #9ecbfe;
  --brand-300: #71a9fe;
  --brand-400: #4294fe;
  --brand-500: #0080fe;
  --brand-600: #0064c7;
  --brand-700: #004899;
  --brand-800: #002c66;
  --brand-900: #001342;

  --secondary-50: #f2f2f2;
  --secondary-100: #d9d9d9;
  --secondary-200: #bfbfbf;
  --secondary-300: #a6a6a6;
  --secondary-400: #8c8c8c;
  --secondary-500: #737373;
  --secondary-600: #595959;
  --secondary-700: #404040;
  --secondary-800: #262626;
  --secondary-900: #0d0d0d;

  --tertiary-50: #FFF5F2;
  --tertiary-100: #FFE4D9;
  --tertiary-200: #FFD1BF;
  --tertiary-300: #FFBFA5;
  --tertiary-400: #FFAC8C;
  --tertiary-500: #FF9972;
  --tertiary-600: #CC7A5A;
  --tertiary-700: #995C42;
  --tertiary-800: #663D2A;
  --tertiary-900: #332013;

  --quaternary-50: #319795;
  --quaternary-100: #2C878B;
  --quaternary-200: #267A7E;
  --quaternary-300: #206D70;
  --quaternary-400: #1A6063;
  --quaternary-500: #145356;
  --quaternary-600: #0E4649;
  --quaternary-700: #08393C;
  --quaternary-800: #022C2F;
  --quaternary-900: #001F22;
}
